html{
	
}

body{
	font-family: Lato,sans-serif;
}

a{
	text-decoration: none;
}

.main{
	position: absolute;
	width: 1160px;
	top: 168px;
	left: 250px;
}

.header{
	position: absolute;
	width: 1280px;
	background: #000000;
	height: 120px;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
}

.headnav{
	position: absolute;
	width: 1280px;
	background: #000000;
	height: 48px;
	padding: 0px;
	margin: 0px;
	top: 120px;
	left: 0px;
	color: #FFFFFF
}

.left{
	position: absolute;
	top: 168px;
	width: 250px;
	background: #000000;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
	left: 0px;
	color: #FFFFFF;	
}


.footer{
	position: absolute;
	height: 20px;
	width: 1280px;
	background: #EBF1E8;
	bottom: 0px;
	left: 0px;
}


.headnav ul{
	
	
}

.headnav li{
	display: inline;
	list-style-type: none;
	height: 48px;
	line-height: 48px;
}

.headnav li > a{
	padding: 0px 12px;
	height: 48px;
}

.headnav li:hover > a{
	background-color: #24890D;
	color: #FFF;
}


.headnav a{
	color: #55D737;
}

/* Enfernt die Buttons beim Eingabefeld entfernen */ 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/**************************************************/

table.aqresult
{
	border: 1px solid black;
	padding: 5px;
	margin: 20px
}

.aqresult td
{
	border: 1px dotted black;
	width: 100px;
	text-align: center;
}	

table.aqdetails
{
	border: 1px solid red;
	padding: 5px;
	margin: 20px;
}

.aqdetails td
{
	border: 1px dotted red;
	width: 100px;
}	