*{
	margin: 0px;
}

html{
	height: 100%;
}

body{
	font-family: Lato,sans-serif;
	height 100%;
}

a{
	text-decoration: none;
}


/* Div Classes */

.main{
	width: 1030px;
	padding: 12px 12px 20px 12px;
	vertical-align: top;
}

.header{
	width: 1280px;
	background: #000000;
	height: 120px;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
}

.headnav{
	width: 1280px;
	background: #000000;
	height: 68px;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF
}

.left{
	width: 250px;
	background: #000000;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	vertical-align: top;
	height: 100%;
}


.footer{
	height: 20px;
	background: #000000;
	color: #FFFFFF;
}

.wrapper{
	position: absolute;
	width: 1280px;
	min-height: 100%;
}


/* Navigation oben */
.headnav ul{
	
	
}

.headnav li{
	float:left;
	list-style-type: none;
	line-height: 30px;
	vertical-align: middle;
}

.headnav li > a{
	display: block;
	padding: 0px 15px;
	height: 40px;
	vertical-align: middle;
}

.headnav li:hover > a{
	background-color: #24890D;
	color: #FFF;
	
}


.headnav a{
	color: #55D737;
}


/* Navigation links */
.left ul{
	
	
}

.left li{
	list-style-type: none;
	line-height: 40px;
	vertical-align: middle;
	
}

.left li > a{
	padding: 0px 0px;
	height: 30px;
	vertical-align: middle;
	display: block;
}

.left li:hover > a{
	background-color: #24890D;
	color: #FFF;
	
}


.left a{
	color: #55D737;
}

.lefthead{
	font-size: large;
}

/* Formulare */
.submit{
	background-color: #000000;
	color: #55D737;
}

.submit_nav{
	background-color: #000000;
	color: #55D737;
	border-style: outset;
}


/* Enfernt die Buttons beim Eingabefeld entfernen */ 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/**************************************************/

table.aqresult
{
	border: 1px solid black;
	padding: 5px;
	margin: 20px
}

.aqresult td
{
	border: 1px dotted black;
	width: 80px;
	text-align: center;
}	

table.aqdetails
{
	border: 1px solid red;
	padding: 5px;
	margin: 20px;
}

.aqdetails td
{
	border: 1px dotted red;
	width: 80px;
}	